/* Enhancements for build page */
.build-intro {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff; /* Neutral background for a clean, modern look */
    color: #333; /* Subdued color for elegance */
}

.build-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5; /* Light background to ensure contrast */
}

.build-item {
    width: 280px; /* Slightly reduced for better spacing */
    margin: 20px; /* Increased margin for clearer separation */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1); /* Softer shadow for a subtle depth */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.build-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* More dramatic hover effect */
}

.build-item img {
    width: 100%;
    height: 200px; /* Fixed height for consistency */
    object-fit: cover;
    transition: transform 0.5s ease; /* Smooth scale transition on hover */
}

.build-item img:hover {
    transform: scale(1.05); /* Slight zoom on hover for dynamic interaction */
}

.build-item h3 {
    background-color: #333; /* Darker header for better readability */
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 18px;
}

.build-item p {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #555; /* Darker text for contrast */
}

.build-item ul {
    padding: 15px;
    background-color: #fff;
    list-style-type: none;
    border-top: 1px solid #eee;
}

.build-item li {
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    color: #666; /* Slightly darker text for legibility */
}

/* General root and utility styles */
:root {
    --primary-color: #52698a; /* Maintained theme color */
    --text-color: #333;
    --background-color: #f5f5f5;
    --box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    --hover-color: #688bb0;
    --button-text-color: #ffffff;
    --border-radius: 10px;
}

header {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    box-shadow: var(--box-shadow);
    padding: 1rem;
}

.navbar-links a {
    color: var(--button-text-color);
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: var(--hover-color);
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
